/* 
Title:    Responsive Pattern Library
Version:  1.0
Author:   Chelsea Myers  

COLORS
Light Gray: #EFEFEF
Dark Gray:  #444
Link:       #4F86C9
Link Hover: #386396
Border:     #BFBFBF

INDEX
- CSS RESET
- GENERAL STYLES
- MEDIA QUERY: 800px & up;
*/



/* ===============
   CSS RESET
   =============== */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, code, 
em, img, small, b, u, i, center, ol, ul, li,
fieldset, form, label, table, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas,
footer, header, menu, nav, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}


/* ===============
   GENERAL STYLES
   =============== */
* {
	box-sizing: border-box;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5em;
  margin: 0 auto;
  color: #444;
}


/*Typography*/
h1 {
  font-size: 2.5em;
  line-height: 2.5em;
}
h2 {
  font-size: 2.2em;
  line-height: 1.3em;
  margin: 0.65em 0;
}
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  font-weight: 900;
  clear:both;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.container {
	padding: 1em;
	max-width: 1300px;
	margin: 0 auto;
	overflow: auto;
}

a {
	color: #4F86C9;
}

a:hover {
	color: #386396;
}
@media only screen and (min-width: 750px) {
	body {
		font-size: 1em;
	}
	.site h1 {
 	 	font-size: 2em;
  	 	line-height: 1.3em;
	}
	.container {
		padding: 2em;
	}

}

iframe {
	width: 100%;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 2px #EEE;
}

hr {
	margin-top: 2em;
}
/* ===============
   HEADER & NAVIGATION
   =============== */

header, footer {
	background-color: #EFEFEF;
}

.header-inner{
	max-width: 1300px;
	margin:0 auto;
	padding: 1em;
}
	.site .header-inner h1 {
		font-size: 1.5em;
		line-height: 1;
	}

.btn a, a.btn{
	border-radius: 3px;
	border: 1px solid #BFBFBF;
	display: inline-block;
	background: #EFEFEF;
	margin: 0.25em;
	font-size: 1rem;
	position: relative;
	text-decoration: none;
	padding: 0 0.50em;
}
	.btn a:hover {
		background: rgba(0, 0, 0, 0.1);
	}


@media only screen and (min-width: 750px) {
	.header-inner {
		padding: 1em 2em;
	}
}

nav {
	position: relative;
}
	nav ul {
		margin:0;
	}
		nav ul li {
			border-bottom: 1px solid #BFBFBF;
			padding: 0.25em;
			line-height: 1.75em;
		}
		nav ul li:hover {
			background: #EFEFEF;
		}
			nav ul li a {
				text-decoration: none;
				display: block;
			}

nav h2 {
	margin:0;
	font-size: 1.75em;
	cursor: pointer;
	border-bottom: 1px solid #444;
	padding: 0.25em 0;
}

.active {
	font-weight:900;
}
	.active a:before {
		content: '\276F';
		margin-right: 5px;
	}

.copyright {
	display: none;
}

@media only screen and (min-width: 750px) {
	nav ul li {
		line-height: 2em;
	}
}


/* ===============
   INDEX STYLES
   =============== */
.index .current-page {
	display: none;
}
.index .btn-back {
	display: none;
}


/* ===============
   PAGE STYLES
   =============== */

.main p {
	max-width: 750px;
}

.subnav {
	display:block;
}
	.subnav li {
	  display: inline-block;
	  margin-right: 0.75em;
	}

@media only screen and (min-width: 750px) {
	nav {
		float: left;
		width: 33%;
		padding-right: 2em;
		max-width: 300px;
	}

	.main {
		float: left;
		width: 67%;
	}
}

h3 .btn {
	margin-left: 10px;
}

.pattern {
	border-top: 1px solid #BFBFBF;
	margin-bottom: 2em;
}


.list-compare {
	float: left;
	width: 50%;
	padding: 0 0.5em;
	margin-top: -1em;
}
	.list-compare li:first-child {
		list-style: none;
		margin:0;
		font-weight: 900;
		margin-bottom: -0.5em;
	}

	.list-compare li{
		list-style: disc;
		margin-left: 1em;
	}

.difficulty {
	text-transform: uppercase;
	font-weight: bold;
}
	.difficulty:after {
		content: ' - ';
	}

