<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Responsive Pattern Library</title>
	<meta name="description" content="Responsive Pattern Library">
	<meta name="author" content="Chelsea Myers">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load in template styles -->
	<link rel="stylesheet" href="../assets/css/lib-style.css">

	<!-- Prism.js styles -->
	<link rel="stylesheet" href="../assets/plugins/prism.css">

	<!-- Load in Google Font: Lato -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body class="site">
	<header>
		<div class="header-inner">
			<h1>Responsive Pattern Lib.</h1>
		</div>
	</header>

	<div class="container">		
		<nav>
			<ul id="menu">
				<li><a href="../index.html">Welcome</a></li>
				<li><a href="../navigation/index.html">Navigation</a></li>
				<li class="active"><a href="index.html">Layouts</a></li>
				<li><a href="../media/index.html">Media</a></li>
				<li><a href="../forms/index.html">Forms &amp; Data</a></li>
				<li><a href="../typography/index.html">Typography</a></li>
				<li><a href="../misc/index.html">Misc.</a></li>
				<!-- Include new section page -->
			</ul>
			<p class="copyright">&copy; Chelsea Myers</p>
		</nav>

		<section class="main">
			<h2 class="page-title">Layouts</h2>
			<p>Section description.</p>

			<div class="pattern">
				<h3>Tiny Tweaks<span class="btn"><a href="pat-01-tinytweaks.html">View Pattern</a></span></h3>

				<p><span class="difficulty">Easy</span> A simple layout that does not change much from small to large screens. Common changes may include font sizes, padding values, and elements displayed on page.</p>

				<ul class="list-compare">
					<li><h4>Pros:</h4></li>
					<li>The easiest layout to create that you will come across</li>
					<li>Less debugging needed across multiple devices</li>
				</ul>

				<ul class="list-compare">
					<li><h4>Cons:</h4></li>
					<li>Cannot hold a lot of content (not scalable)</li>
				</ul>

				<h4>Example</h4>
				<iframe src="pat-01-tinytweaks.html" frameborder="0" height="400"></iframe>

				<h4>HTML</h4>
<pre>
<code class="language-markup">
&lt;header>
  &lt;h1>Page Heading (h1)&lt;/h1>
&lt;/header>

&lt;section>
  &lt;p>Paragraph (p) - Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.&lt;p>
  &lt;h2>Heading 2 (h2)&lt;/h2>
  &lt;p>Paragraph (p) - Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.&lt;/p>
  &lt;ul>
    &lt;li>List Item 1. Objectively innovate empowered manufactured products whereas parallel platforms.&lt;/li>
    &lt;li>List Item 2. Proactively envisioned multimedia based expertise and cross-media growth strategies.&lt;/li>
    &lt;li>List Item 3. Completely pursue scalable customer service through sustainable potentialities.&lt;/li>
  &lt;/ul>
&lt;/section>
</code>
</pre>

<h4>CSS</h4>
<pre>
<code class="language-css">
body {
  font-size: 1em;
}
header, section {
  padding:0.75em;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 0.875em;
  }
  header, section {
    padding:1em;
    margin-bottom:1em;
  }
}
</code>
</pre>
			</div><!--end pattern-->
		</section>
	</div>
	<script src="../assets/plugins/prism.js"></script>
</body>
</html>