<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Responsive Pattern Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load in template styles -->
  <link rel="stylesheet" href="../assets/css/pattern-style.css">

  <!-- Load in Google Font: Lato -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
  	/*Pattern 05 - Off Canvas*/
    aside {
      display: none;
      width: 30%;
      max-width:200px;
    }

    section, aside {
      float: left;
    }

    .open aside{
      display: block;
    }

    .open section {
      width: 70%;
    }

    @media screen and (min-width: 600px) {
      .menu-toggle {
        display: none;
      }

      aside {
        display: block;
      }

      section {
        width: 70%;
      }
    }
  </style>
</head>

<body>
  <header>
    <h1>Page Heading (h1)</h1>
  </header>

  <aside>
    <h3>Secondary Nav (h3)</h3>
    <ul>
      <li><a href="#">List Item 1</a></li>
      <li><a href="#">List Item 2</a></li>
      <li><a href="#">List Item 3</a></li>
    </ul>
  </aside>

  <section>
    <button class="menu-toggle">Menu</button>
    <h2>Heading 2 (h2)</h2>
    <p>Paragraph (p) - Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service..</p>
  </section>

  <script>

    var menuTog = document.getElementsByClassName("menu-toggle")[0];

    menuTog.onclick = function() {
      document.getElementsByTagName('body')[0].classList.toggle('open');
    }

  </script>
</body>
</html>
