<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Responsive Pattern Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load in template styles -->
  <link rel="stylesheet" href="../assets/css/site-style.css">

  <!-- Load in Google Font: Lato -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
  	/*Pattern 03 - Column Drop*/
    aside, section, header {
      padding: 0.75em;
    }

    @media screen and (min-width: 600px) {
      aside {
        width: 25%;
      }

      section {
        width: 50%;
      }

      aside, section {
        float: left;
      }
    }

  </style>

</head>

<body class="index">
	<!-- Insert pattern mark-up here -->
  <header>
    <h1>Page Heading (h1)</h1>
  </header>
  <aside>
    <h3>Secondary Nav (h3)</h3>
    <ul>
      <li><a href="#">List Item 1</a></li>
      <li><a href="#">List Item 2</a></li>
      <li><a href="#">List Item 3</a></li>
    </ul>
  </aside>

  <section>
    <h2>Heading 2 (h2)</h2>
    <p>Paragraph (p) - Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
    <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service..</p>
  </section>

  <aside>
    <h3>Heading 3</h3>
    <p>Paragraph (p) - Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
  </aside>

</body>
</html>