<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Responsive Pattern Library - Tiny Tweaks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load in template styles -->
  <link rel="stylesheet" href="../assets/css/site-style.css">

  <!-- Load in Google Font: Lato -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>
  	/*Pattern ## - Tiny Tweaks*/
	  /*Insert styles here*/
    body {
      font-size: 1em;
    }
    header, section {
      padding:0.75em;
    }
    
    @media screen and (min-width: 600px) {
      body {
        font-size: 0.875em;
      }
      header, section {
        padding:1em;
        margin-bottom:1em;
      }
    }
  </style>
</head>

<body class="index">
	<!-- Insert pattern mark-up here -->

<header>
  <h1>Page Heading (h1)</h1>
</header>

<section>
<p>Paragraph (p) - Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.<p>

<h2>Heading 2 (h2)</h2>

<p>Paragraph (p) - Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>

<ul>
  <li>List Item 1. Objectively innovate empowered manufactured products whereas parallel platforms.</li>
  <li>List Item 2. Proactively envisioned multimedia based expertise and cross-media growth strategies.</li>
  <li>List Item 3. Completely pursue scalable customer service through sustainable potentialities.</li>
</ul>
</section>

</body>
</html>